[Unit]
Description="PartyQ"

[Service]
Type=Fork
WorkingDirectory=/opt/actions-runnner/_work/Party-Queue/Party-Queue/
PIDFile=/opt/actions-runnner/_work/Party-Queue/Party-Queue/pid
ExecStartPre=source /opt/actions-runnner/partyq/bin/activate
ExecStart=/opt/actions-runnner/_work/Party-Queue/Party-Queue/start.sh
