[Unit]
Description="PartyQ"

[Service]
WorkingDirectory=/opt/actions-runnner/_work/Party-Queue/Party-Queue/
PIDFile=/opt/actions-runnner/_work/Party-Queue/Party-Queue/pid
ExecStart=/opt/actions-runnner/_work/Party-Queue/Party-Queue/start.sh
