<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Party Q (Beta)</title>
  <meta name="description" content="PartyQ">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/base.css">
</head>
  <body>
    <form action="/admin/auth" method="post">
      Password:<br>
      <input type="password" name="password">
      <button type="submit">Submit</button>
    </form>
    <div id="qtable">
      <p>&nbsp;</p>
      <div id="queue">
      </div>
    </div>
    <button type="submit" id="device">List Devices</button>
    <div id="devicelist"></div>
  </body>
  <script>

    $("#device").on("click", listDevices)


    function setDevice(event) {
      event.preventDefault()
      console.log("setting device")
      console.log(event.target)
      device = event.target
      fetch(`${window.origin}/admin/set-device/${device.getAttribute("did")}`, {method: "put"})
      .then(res => {
        if (res.ok) {
          $("#devicelist").empty()
          $("#devicelist").append(`<div>Device updated to ${device.getAttribute("name")} ${device.getAttribute("did")}</div>`)
        }
        else {
          $("devicelist").prepend("<div>Error setting device</div>")
        }
      }).catch(e => console.log(e))
    }

    function listDevices(e) {
      e.preventDefault()
      fetch(`${window.origin}/devices`, {
        method: "get"
      }).then(res =>  res.json())
      .then(res => {
        res.devices.forEach((item) => {
            $("#devicelist").append(`<a class="device-result"  did=${item.did}><div did=${item.did}>${item.dtype}, ${item.name}, ${item.did} </div></a>`);
          })
        $(".device-result").click(setDevice)
      }).catch(e => console.log( 
        "Failed getting devices", e
      ))
    }

    function makeRemoveable(){
      $("#queue")
      .children()
      .wrap("<a class='removeable'></a>")
      .on("click", function(e) {
          e.preventDefault()
          let pos = e.target.getAttribute("pos")
          fetch(`${window.origin}/remove/${pos}`, {
            method: "delete"
          })
      })
    }
  </script>
  <script src="/static/shared.js"></script>
</html>
