<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Party Q (Beta)</title>
  <meta name="description" content="PartyQ">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<body>
  <div class="top-row">
    <form id="song-form" class="top-col">
      Song:<br>
      <div class="top-col">
        <input type="text" name="song" value="" >
        <button id="song-button" type="submit" >Submit</button>
      </div>
    </form>
    <form id="register-form"  class="top-col">
      <div class="top-col" id="register-div">
        Username:<br>
        <input type="text" name="username" value="" id="username-input" >
        <button id="username-button" type="submit" >Submit</button>
      </div>
    </form>
    <button id="pause-button">Pause</button>
  </div>
  <p id="username"></p>      
  <div id="response-text">
  </div>
  <div id="qtable">
    <div id="results" class="col">
      <p>&nbsp;</p>
    </div>
    <div id="queue" class="col">
      <!-- <p>Queue:</p> -->
    </div>
  </div>
  <script>
    function clearParent(parent) {
      while (parent.firstChild) {
        // if (parent.firstChild.tagName == "DIV")
          parent.removeChild(parent.firstChild)
      }
    }

    $("#pause-button").on("click", (e) => {
      e.preventDefault();
      fetch(`${window.origin}/toggle`, {
        method: "get"
      })
    })

    function displayResults(results) {
      var resultlist = document.getElementById("results")
      clearParent(resultlist)
      results.forEach((res) => {
          let listitem = document.createElement("div")
          let artistname = res.artists[0].name 
          let thumbnail = res.thumbnails[0].url
          let img = document.createElement("img")
          img.setAttribute("src", thumbnail)
          img.setAttribute("class", "result-list")
          img.setAttribute("height", "50px")
          img.setAttribute("width", "50px")
          let title = document.createElement("p")
          title.setAttribute("class", "result-list")
          title.innerHTML = `${artistname} - ${res.title}`
          title.setAttribute("videoId", res.videoId)
          img.setAttribute("videoId", res.videoId)
          listitem.setAttribute("videoId", res.videoId)
          let link = document.createElement("a")
          listitem.appendChild(img)
          listitem.appendChild(title)
          link.appendChild(listitem)
          resultlist.appendChild(link)
          link.addEventListener("click", (e) => {
            console.log(e.target)
            let videoId = e.target.getAttribute("videoId")
            req  = {videoId}
            fetch(`${window.origin}/add`, {
              method: "POST",
              body: JSON.stringify(req)
            })
          })
      })
    }

    var response_text = document.getElementById("response-text")
    var form = document.getElementById("song-form")

    function sendData(e) {
      e.preventDefault()
      var formData = new FormData(e.target)
      var req = Object.fromEntries(formData)
      fetch(window.origin, {
        method: "post",
        body: formData
      }).then((res) => {
        if (!res.ok) {
          response_text.innerHTML = "There was an error submitting song request"
        }
        else {
          response_text.innerHTML = `Results for "${req.song}":`
          return res
        }
      })
      .then((res) => res.json())
      .then((res) => displayResults(res))

      var inputs = e.target.getElementsByTagName("input")
      // for (let i = 0; i < inputs.length; ++i) {
      //   inputs[i].value = ""
      // }
    }

    form.addEventListener("submit", sendData)
    const socket = new WebSocket(`ws://${window.location.hostname}/qinfo`)

    socket.addEventListener("open", (event) => {
      console.log("socket open")
    })

    socket.addEventListener("message", (event) => {
      console.log("Message from server ", event.data);
      var qdiv = document.getElementById("queue")
      var qdata = JSON.parse(event.data)
      clearParent(qdiv)
      qdata.forEach((res) => {
        let elm = document.createElement("div")
        elm.innerText = `${res.artists[0].name} - ${res.title}\n Requested by: ${res.requestor}`
        qdiv.appendChild(elm)
      })
    })

    setInterval((socket) => {
      socket.send("inquire")
    }, 5000, socket)

    $(function() {
      if (Cookies.get("username")) 
        $("#register-div").hide()
      else 
        $("register-div").show()
    });

    var registerForm = document.getElementById("register-form")

    function func(e) {
      e.preventDefault();
      let formData = new FormData(e.target)
      var req = Object.fromEntries(formData)
      let formInputs = e.target.getElementsByTagName("input")
      fetch(`${window.origin}/setuser`, {
        method: "POST",
        body: formData
      }).then((res) => {
        if (res.ok) {
          $("#username").text(req.username)
        } else {
          $("#username").text("err")
        }
      });
      for(let i = 0; i < formInputs.length; ++i) {
        formInputs[i].value = ""
      }
    }

    registerForm.addEventListener("submit", func)


  </script>
  <style>


    .top-row {
      display: table;
     /* float: left; */
      width: 100%; 
      clear: both;
    }
    
  .top-col {
      /* float: left; */
      width: 50%;
      display: table-cell;
    }

    .qtable:after {
      content: "";
      display: table;
      clear: both;
    }

    .row {
      float: left;
    }

    .col {
      float: left;
      width: 50%;
    };

    #response-text {
      align-content: center;
      margin: auto;
      /* width: 50%; */
      padding: 10px;
      width:250px; /* or whatever width you want. */
      max-width:250px;
    }

    body {
      font-family: monospace;
      font-size: large;
    }

    .result-list {
      display: inline-block;
    }
    
    img {
      padding-right: 5px;
    }

    a:hover {
      color: hotpink;
    }

    /* selected link */
    a:active {
      color: blue;
    }

  </style>
  </body>
</html>
